! Base16 Catppuccin
! Scheme: Pocco81 (https:&#x2F;&#x2F;github.com&#x2F;pocco81)

#define base00 #1E1E28
#define base01 #1A1826
#define base02 #302D41
#define base03 #575268
#define base04 #6E6C7C
#define base05 #D7DAE0
#define base06 #F5E0DC
#define base07 #C9CBFF
#define base08 #F28FAD
#define base09 #F8BD96
#define base0A #FAE3B0
#define base0B #ABE9B3
#define base0C #B5E8E0
#define base0D #96CDFB
#define base0E #DDB6F2
#define base0F #F2CDCD

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
